@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');

.header-container{
  background: rgba(255, 255, 255, 0.3);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-header{
  font-family: 'Bungee Shade', sans-serif;
  color: white;
  font-size: 25px;
}
