@mixin buttons {
  background-color: rgb(192, 192, 192);
  border-radius: 8px;
  border: none;
  padding: 10px 40px;
  margin-right: 15px;
}
@mixin centers {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

 button.get-joke-btn{
   @include buttons;
}
.favorites{
  @include centers;
}
.favorite-btn{
  @include buttons;
}

.get-joke-btn:hover{
  background: rgb(255, 255, 255);
}
.number-of-jokes{
  width: 20px;
}

.single-joke{
  padding: 10px;
  background: rgba(0,0,0,0.2);
  align-content: center;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  width: 20%;
}

.UI{
  @include centers;
}
